.classname{
    position: relative;
    display: block;
    display: flex;
    display: block;
    display: inline-block;
    /* d:ib */
    visibility: none;
    overflow: hidden;

    cursor: help;

    margin: 9px;
    margin:auto;
    margin-top: 9px;
    margin-bottom: 9px;

    padding: 9px;
    padding-top: 9px;

    background: #000;
    background-color: #fff;

    color:#000;

    border: 1px solid #000;
    

}